.App{
  text-align: center;
  color: white;
 }

.body-container{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;

}
body{
  background-color: #0e2b3e ;
}

img {
  height: 157px;
  width: 150px;
  margin: 0;
}
p{
  font-size: 40px;
  margin: 0;

}